.btn-bg {
     background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee) !important;
}

.overlay {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     height: 100%;
     width: 100%;
     opacity: 0;
     transition: .4s ease;
}

.figure:hover .overlay {
     opacity: 0.8;
}

.overlay2 {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     height: 100%;
     width: 100%;
     opacity: 0;
     transition: .4s ease;
}

.figure2:hover .overlay2 {
     opacity: 0.8;
}

.rec.jhmYzC,
.krmNah {
     border-color: #4458dc !important;
     background-color: white !important;
}

.bg-image {
     background-image: url('../public/contact-bg.webp') !important;
     background-repeat: no-repeat !important;
     background-position: center;
}

.overlay-text {
     position: absolute;
     bottom: 0;
     background: #EBEBF5;
     background: #ebebf5cb;
     /* Black see-through */
     width: auto;
     transition: .5s ease;
     opacity: 0;
     color: white;
     padding: 20px;
}

.figure3:hover .overlay-text {
     opacity: 1;
}

.is-current {
     border-bottom: 5px solid #4458dc;
}